body, html {
    height:100%
}

#main {
    background-image: url("../images/dive-in.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
}

.top-left {
    position: absolute;
    top: 80px;
    left: 40px;
    
}

#centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.mainProjects {
    background-image: url("../images/flowers.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width:100%; 
}

.mainJourney {
    background-image: url("../images/journey.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
}

.mainContact {
    background-image: url("../images/parthenon.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
}

